// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #00C6FF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f5981c;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$primary-border: #ccc;
$gray: #808080;

$colors: ();

$colors: map-merge(
        ("blue" : $blue),
        $colors
);

$theme-colors: ();
$theme-colors: map-merge(
        (
            "primary": $blue,
        ),
        $theme-colors
);

// Tablets and small desktops
$screen-lg-min: 992px;
