//task-detail style
@import "variables";
.flex-1 {
    flex: 1;
}

.dropzone {
    border: 1px solid $gray;
}

.task-detail-lg-8__heading {
    width: 30%;
}

.task-div {
    padding: 16px 16px 0px 16px;
}

.task-detail__width {
    width: 100%;
    margin-right: 10px;
}

// Large devices
@media (min-width: #{$screen-lg-min}) {
    .task-detail-lg-8__heading {
        display: inline-block;
        width: 18%;
    }
    .task-detail__width {
        width: 40%;
    }
}

%task-heading {
    display: inline-block;
    width: 20%;
    font-weight: 700;
}

.task-detail {
    padding: 16px 16px 0 16px;

    &__item {
        width: 100%;
        margin-right: 10px;

        @media (min-width: #{$screen-lg-min}) {
            width: 40%;
        }
    }

    &__project-heading {
        @extend %task-heading;
    }

    &__updated-heading {
        @extend %task-heading;
    }

    &__status-heading {
        @extend %task-heading;
    }

    &__created-heading {
        @extend %task-heading;
    }

    &__reporter-heading {
        @extend %task-heading;
    }

    &__due-date-heading {
        @extend %task-heading;
    }

    &__assignee-heading {
        @extend %task-heading;
    }

    &__tag-heading {
        @extend %task-heading;
    }

    &__description-heading {
        @extend %task-heading;
    }

    &__attachment-heading {
        margin-top: 15px;
        @extend %task-heading;
    }

    &__priority-heading {
        @extend %task-heading;

        $priority: ("highest": #FF0000, "high": #FF3333, "medium": #FF8000, "low": #336600, "lowest": #4C9900);

        @each $name, $color in $priority {
            &--#{$name} {
                color: $color;
                margin-top: 4px;
                margin-right: 3px;
            }
        }
    }
}

.priority--lowest,
.priority--low {
    transform: rotate(180deg);
}

.dz-remove {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 1000;
    font-size: 1.2em !important;
    line-height: 1em;
    font-weight: bold;
    border: 1px solid $gray !important;
    border-radius: 1.2em;
    color: $gray;
    background-color: $white;
    opacity: .5;
}

.dz-remove:hover {
    text-decoration: none !important;
    opacity :1;
    color: $red;
}

//comment section design
.post {
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
}
.post .user-block {
    margin-bottom: 15px;
}
.user-block img {
    width: 40px;
    height: 40px;
    float: left;
}
.user-block a, .user-block a:hover{
    text-decoration: none;
}
.user-block .cui-trash{
    color: $red;
}
.img-bordered-sm {
    border: 2px solid #d2d6de;
    padding: 2px;
}
.img-circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
}
.user-block .username {
    font-size: 16px;
    font-weight: 600;
}
.user-block .username, .user-block .description, .user-block .comment {
    display: block;
    margin-left: 50px;
}
.user-block .description {
    color: #999;
    font-size: 13px;
}
.post .comment {
    margin-left: 50px;
}
.comments__section {
    padding: 25px 0px;
    &:hover {
        text-decoration: none !important;
        opacity: 1;
        color: $red;
    }
}

$priority: ("highest": #FF0000, "high": #FF3333, "medium": #FF8000, "low": #336600, "lowest": #4C9900);

@each $name, $color in $priority {
    .priority--#{$name} {
        color: $color;
    }
}

.priority--lowest,
.priority--low {
    transform: rotate(180deg);
}
