//task-detail style
@import "variables";
.flex-1 {
    flex: 1;
}

.dropzone {
    border: 1px solid $gray;
}

.hand-cursor {
    cursor: pointer;
}

%task-heading {
    display: inline-block;
    width: 20%;
    font-weight: 700;
}

%user-display {
    display: block;
    margin-left: 50px;
}

%img-bordered-sm {
  border: 2px solid #d2d6de;
  padding: 2px;
}

%img-circle {
  border-radius: 50%;
}

.task-detail {
    padding: 16px 16px 0 16px;

    &__item {
        width: 100%;
        margin-right: 10px;

        @media (min-width: #{$screen-lg-min}) {
            width: 40%;
        }
    }

    &__project-heading {
        @extend %task-heading;
    }

    &__updated-heading {
        @extend %task-heading;
    }

    &__status-heading {
        @extend %task-heading;
    }

    &__created-heading {
        @extend %task-heading;
    }

    &__reporter-heading {
        @extend %task-heading;
    }

    &__due-date-heading {
        @extend %task-heading;
    }

    &__assignee-heading {
        @extend %task-heading;
    }

    &__tag-heading {
        @extend %task-heading;
    }

    &__description-heading {
        @extend %task-heading;
    }

    &__attachment-heading {
        margin-top: 15px;
        @extend %task-heading;
    }

    &__priority-heading {
        @extend %task-heading;

        $priority: ("highest": #FF0000, "high": #FF3333, "medium": #FF8000, "low": #336600, "lowest": #4C9900);

        @each $name, $color in $priority {
            &--#{$name} {
                color: $color;
                margin-top: 4px;
                margin-right: 3px;
            }
        }
    }
}

.priority--lowest,
.priority--low {
    transform: rotate(180deg);
}

.dz-remove {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 1000;
    font-size: 1.2em !important;
    line-height: 0.9em;
    font-weight: bold;
    border: 1px solid $gray !important;
    border-radius: 1.2em;
    color: $gray;
    background-color: $white;
    opacity: .5;

    &:hover {
        text-decoration: none !important;
        opacity :1;
        color: $red;
    }
}

//comment section design
.user .cui-trash{
    color: $red;
}

.comments {
    padding: 25px 0px;
    &:hover {
        text-decoration: none !important;
        opacity: 1;
    }
    &__information {
      border-bottom: 1px solid #d2d6de;
      margin-bottom: 15px;
      padding-bottom: 15px;
      color: #666;
    }
}

.user{
    margin-bottom: 15px;
    &__img {
        width: 40px;
        height: 40px;
        float: left;
        @extend %img-bordered-sm;
        @extend %img-circle;
        vertical-align: middle;
    }
    &__username {
        font-size: 16px;
        font-weight: 600;
        @extend %user-display;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
    &__description {
      @extend %user-display;
      color: #999;
      font-size: 13px;
    }
    &__comment {
      @extend %user-display;
    }
}

$priority: ("highest": #FF0000, "high": #FF3333, "medium": #FF8000, "low": #336600, "lowest": #4C9900);

@each $name, $color in $priority {
    .priority--#{$name} {
        color: $color;
    }
}

.priority--lowest,
.priority--low {
    transform: rotate(180deg);
}
